@import '../../../../styles/variables';

.timezone-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    padding: 1.5rem 2rem;
    border: 1px solid $border-color;
    border-radius: 5rem;
    -webkit-box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(192, 194, 198, 0.2);
    -moz-box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(192, 194, 198, 0.2);
    box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(192, 194, 198, 0.2);
    margin-top: 1rem;

    &--active {
        border-color: $secondary-color;
    }

    &--edit {
        padding: .875rem 2rem;
        border-color: $warning;
    }

    &__timezone {
        width: 11rem;
    }

    &__time {
        width: 6rem;
    }

    &__date {
        width: 16rem;
    }

    &__action {
        margin-right: .5rem;
        color: rgba($primary-color, .2);
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
            color: rgba($primary-color, 1);
        }

        &:last-child {
            margin-right: 0;
        }

        &--cancel {
            &:hover {
                color: $danger;
            }
        }

        &--submit {
            &:hover {
                color: $success;
            }
        }
    }

    &__edit {
        text-align: center;

        &-helper {
            font-size: .75rem;
        }

        &-datepicker {
            width: 16rem;
            font-size: 1rem;
            font-weight: 900;
            border: none;
            text-align: center;
            cursor: pointer;
            outline: none;
        }
    }
}


// DataPicker fix
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding-right: 8px;
    padding-left: 8px;
}

@media only screen and (max-width: 39em) {
    .timezone-entry {
        flex-direction: column;

        &__timezone, &__date, &__time {
            width: auto;
            margin-bottom: .5rem;
        }
    }
}