$border-color: #dbdde0;
$white: #fff !default;

$blue: #35a7f8;
$green: #39b118;
$red: #ea001b;
$orange: #ff7f45;

$danger: $red;
$success: $green;
$warning: $orange;

$primary-color: #485463;
$secondary-color: #35a7f8;